Repository YaYiino/inkspace-tattoo-marketplace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @antsss/core-developers, @antsss/frontend-team, @antsss/backend-team, @antsss/database-team, @antsss/security-team, @antsss/devops-team, @antsss/design-team, @antsss/qa-team, @antsss/tech-writers, @antsss/analytics-team, @antsss/product-team

.github/CODEOWNERS:

# CODEOWNERS file for Antsss Tattoo Marketplace
# This file defines who must review changes to specific parts of the codebase
# More specific rules override less specific ones

# Global fallback - require review from core team
* @antsss/core-developers

# Critical application files
/app/ @antsss/frontend-team @antsss/core-developers
/pages/ @antsss/frontend-team @antsss/core-developers

# API and server-side logic
/app/api/ @antsss/backend-team @antsss/core-developers
/pages/api/ @antsss/backend-team @antsss/core-developers
/lib/ @antsss/backend-team @antsss/core-developers
/utils/ @antsss/backend-team @antsss/frontend-team

# Database and migrations
/supabase/ @antsss/database-team @antsss/backend-team
*.sql @antsss/database-team @antsss/backend-team
/lib/database.types.ts @antsss/database-team @antsss/backend-team

# Authentication and security
/middleware.ts @antsss/security-team @antsss/backend-team
/lib/auth/ @antsss/security-team @antsss/backend-team
/app/api/auth/ @antsss/security-team @antsss/backend-team

# Configuration and infrastructure
/.github/ @antsss/devops-team @antsss/core-developers
/docker* @antsss/devops-team @antsss/core-developers
/Dockerfile* @antsss/devops-team @antsss/core-developers
/next.config* @antsss/devops-team @antsss/frontend-team
/vercel.json @antsss/devops-team @antsss/core-developers

# CI/CD and deployment
/.github/workflows/ @antsss/devops-team @antsss/core-developers
/scripts/ @antsss/devops-team @antsss/backend-team

# Dependencies and package management
/package.json @antsss/core-developers @antsss/devops-team
/package-lock.json @antsss/core-developers @antsss/devops-team
/yarn.lock @antsss/core-developers @antsss/devops-team

# Code quality and linting
/.eslintrc* @antsss/core-developers
/tsconfig.json @antsss/core-developers
/jest.config* @antsss/core-developers
/playwright.config* @antsss/core-developers
/lint-staged.config.js @antsss/core-developers

# Environment and secrets
/.env* @antsss/devops-team @antsss/security-team @antsss/core-developers
/env.* @antsss/devops-team @antsss/security-team

# Styling and design
/tailwind.config.js @antsss/frontend-team @antsss/design-team
/styles/ @antsss/frontend-team @antsss/design-team
**/*.css @antsss/frontend-team @antsss/design-team

# Components and UI
/app/components/ @antsss/frontend-team @antsss/design-team
/components/ @antsss/frontend-team @antsss/design-team

# Testing
**/*.test.* @antsss/qa-team @antsss/core-developers
**/*.spec.* @antsss/qa-team @antsss/core-developers
/tests/ @antsss/qa-team @antsss/core-developers
/e2e/ @antsss/qa-team @antsss/core-developers

# Documentation
/*.md @antsss/tech-writers @antsss/core-developers
/docs/ @antsss/tech-writers @antsss/core-developers

# Monitoring and observability
/sentry* @antsss/devops-team @antsss/backend-team
/lib/monitoring/ @antsss/devops-team @antsss/backend-team

# Performance and analytics
/lib/analytics/ @antsss/analytics-team @antsss/backend-team
/lib/performance/ @antsss/frontend-team @antsss/backend-team

# Business logic and domain-specific code
/app/dashboard/ @antsss/product-team @antsss/frontend-team
/app/booking/ @antsss/product-team @antsss/backend-team
/app/profile/ @antsss/product-team @antsss/frontend-team

# Critical configuration files that affect production
/healthcheck.js @antsss/devops-team @antsss/backend-team @antsss/core-developers
/deployment-strategy.md @antsss/devops-team @antsss/core-developers
*DEPLOYMENT*.md @antsss/devops-team @antsss/core-developers

🔐 Complete authentication system with database schema
  app/auth/callback/route.ts
  app/complete-profile/page.tsx
  app/components/AuthModal.tsx
  app/onboarding/artist/page.tsx
  app/onboarding/studio/page.tsx
  app/providers.tsx
  lib/errors/dev-tools.tsx
  lib/monitoring/MonitoringProvider.tsx
  lib/providers/auth-provider.tsx
  lib/supabase-server.ts
  lib/supabase.ts
  package-lock.json
  package.json
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/002_complete_schema.sql
Owners: @antsss/frontend-team, @antsss/core-developers, @antsss/design-team, @antsss/backend-team, @antsss/devops-team, @antsss/database-team

🔧 Fix production domain and OAuth redirect configuration
  .env.production
Owners: @antsss/devops-team, @antsss/security-team, @antsss/core-developers

🔧 Fix authentication UI state and redirect flow
  app/auth/callback/route.ts
  app/page.tsx
Owners: @antsss/frontend-team, @antsss/core-developers

Fix build errors and deploy authentication fixes
  app/api/health/route.ts
  app/auth/callback/route.ts
  app/not-found.tsx
  app/providers.tsx
  lib/errors/api-error-handler.ts
  lib/errors/dev-tools.ts
  lib/monitoring/MonitoringProvider.tsx
  lib/monitoring/analytics.ts
  next.config.js
  package-lock.json
  package.json
Owners: @antsss/backend-team, @antsss/core-developers, @antsss/frontend-team, @antsss/devops-team

Fix Edge Runtime compatibility issues for deployment
  middleware.ts
Owners: @antsss/security-team, @antsss/backend-team

Fix all import and build issues preventing deployment
  app/components/StudioListingForm.tsx
  lib/monitoring/sentry.ts
Owners: @antsss/frontend-team, @antsss/design-team, @antsss/devops-team, @antsss/backend-team

Fix health endpoint table name
  app/api/health/route.ts
Owners: @antsss/backend-team, @antsss/core-developers

CRITICAL: Remove monitoring imports blocking production deployment
  app/global-error.tsx
Owners: @antsss/frontend-team, @antsss/core-developers

CRITICAL: Fix GitHub CI workflow failures
  .github/workflows/ci.yml
Owners: @antsss/devops-team, @antsss/core-developers

CRITICAL: Disable production deployment workflows temporarily
  .github/workflows/cd-production.yml
  .github/workflows/deployment-with-rollback.yml
Owners: @antsss/devops-team, @antsss/core-developers

CRITICAL: Enable simple deployment with working workflows
  .github/workflows/cd-production.yml
  .github/workflows/deployment-with-rollback.yml
Owners: @antsss/devops-team, @antsss/core-developers
